<!DOCTYPE html>
<html>
<head>
    <title>Sprinkler Control</title>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            updateStatus();

            setInterval(updateStatus, 5000); // Update status every 5 seconds

            function updateStatus() {
                fetch('/status')
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById("status").innerText = "Sprinkler is " + data.status;
                    })
                    .catch(error => console.error('Error:', error));
                // fetch logs
                fetch('/logs')
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById("logs").innerHTML = "Logs";
                        data.logs.forEach(log => {
                            const li = document.createElement("li");
                            li.innerText = log;
                            document.getElementById("logs").appendChild(li);
                        });
                    })
            }
        });

        function controlSprinkler(action) {
            fetch('/sprinkler', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ action: action }),
            })
            .then(response => response.json())
            .then(data => {
                alert(data.status);
                updateStatus(); // Update status immediately after action
            })
            .catch(error => console.error('Error:', error));
        }
    </script>
</head>
<body>
    <h1>Sprinkler Control</h1>
    <p id="status">Sprinkler is ...</p>
    <button onclick="controlSprinkler('on')">Turn On</button>
    <button onclick="controlSprinkler('off')">Turn Off</button>
    <!-- Add logs -->
    <h2 id="logs">Logs</h2>
    <ul>
        {% for log in logs %}
            <li>{{ log }}</li>
        {% endfor %}
</body>
</html>
