# This is a configuration file for setting up the sprinkler schedule.

[SprinklerConfig] # don't edit this line
####
## Provide API key.  A free developer's API key is available
# https://openweathermap.org/api
api_key = 

####
## Latitude and longitude where sprinkler is being run.

lat = 
lon = 

####
## How long in minutes to run the sprinkler at a time
start_time = 

####
## GPIO pins to control the sprinkler and the status LEDs
gpio_starter = 17
gpio_led1 = 27
#gpio_led2 = 22  # Not used currently

####
## Choose location and name of log file
log_file = /home/pi/sprinkler.log
